<ng-container *ngIf="user | async; else login">

  <div class="notification is-success">
    Congrats You logged in without a password!
  </div>

  <button (click)="logout()" class="button">Signout</button>

</ng-container>

<ng-template #login>
  <label for="email" class="label">Passwordless Auth</label><br>
  <input type="email" class="input" [(ngModel)]="email">
  
  <hr>
  
  <button class="button is-primary" [disabled]="emailSent" (click)="sendEmailLink(email)">Get Login Link</button>

  <hr>
  
  <div *ngIf="emailSent" class="notification is-info">
    Cool! We sent you an email with your login link
  </div>

  <div *ngIf="errorMessage" class="notification is-danger">
    {{ errorMessage }}
  </div>
  
</ng-template>


